*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
/* index.html page css styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:  #04AA6D;
  text-decoration: none;
  color: white;
}
.homeheading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 96%;
  text-align: center;
}


/* signup.html and login.html pages css styling */
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px 30px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #027e50;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 280px;
}
div{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
}
.account{
  text-decoration: none;
  color: #333;
  padding-left: 18px;
}
.account:hover{
  text-decoration: none;
  color: #333;
}
.bold{
  text-decoration: underline;
  color: #333;
}
.inner{
  max-height: 110px;
}


